<h1>Trabalho de Conclusão de Curso - IDESP</h1>
<h2>Entrega - 2</h2>
<p><b>Instituição:</b> FIA - Fundação Instituto de Administração</p>
<p><b>Conteúdo:</b> <b>Entrega 02</b> - Business Case e Técnicas de Estatística Clássica</p>
<p><b>Turma</b>: 12 </p>
<p><b>Ano</b>: 2020</p>
<p><b>Autor:</b> João Paulo Ribeiro dos Santos</p>
<p><b>Localização Projeto: </b> <a href = 'https://github.com/Joao-TheCosmosIsInfinite/FIA_Projeto_Machine_Learning' target = "_blank">Git Hub</a></p>

<h2>Indice/ Table of Contents</h2>

[1. Importações das bibliotecas/ Library Imports](#head3_library)<br>
[2. Importações dos Datasets/ Dataset Imports](#head3_datasets)<br>
&nbsp;&nbsp;&nbsp;&nbsp;[2.1. Informações do IDESP/ IDESP Information](#head4_idesp)<br>
&nbsp;&nbsp;&nbsp;&nbsp;[2.2. Informações das Escolas/ School Information](#head4_schoolinfo)<br>
&nbsp;&nbsp;&nbsp;&nbsp;[2.3. Dependencias das Escolas/ School Facilities](#head4_facilities)<br>

<a id ='head3_library'></a>
<h3>1. Importações das bibliotecas/ Library Imports</h3>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

<a id ='head3_datasets'></a>
<h3>2. Importações dos Datasets/ Dataset Imports</h3>

<a id ='head4_idesp'></a>
<h4>2.1. Informações do IDESP/ IDESP Information</h4>

In [2]:
## IDESP  no ano de 2019
df_idesp_2019 = \
                pd.read_csv('data/IDESP/' \
                                'IDESP_ESCOLA_2019.csv')

<a id ='head4_schoolinfo'></a>
<h4>2.2. Informações das Escolas/ School Information</h4>

In [3]:
## Dados Geográficos das Escolas
df_school_geolocation = \
                        pd.read_csv('data/DADOS_ESCOLA/11_Escolas_Coordenadas.csv',
                                    sep = ';',
                                    decimal = ',',
                                    encoding  = 'ISO-8859-1')

<a id ='head4_facilities'></a>
<h4>2.3. Dependencias das Escolas/ School Facilities</h4>

In [4]:
## Dados da infraestrutura das escolas
df_school_dependecy = \
                        pd.read_csv('data/INSTALACAO_FISICA_ESCOLA/06_Escolas_Dependencias.csv',
                                    sep = ';')

<a id = 'head3_dictionary'></a>
<h3>3. Dicionario das colunas dos dataframes/ Dictionary of dataframe's columns</h3>

| Object | Field| Description |
| :- | :- | :- |
| <b>df_school_geolocation</b> | NOMEDEP | Qualitativa Nominal |
| | DE | Qualitativa Nominal |
| | MUN | Qualitativa Nominal |
| | DISTR | Qualitativa Nominal |
| | COD_ESC | Qualitativa Nominal |
| | NOMESC | Qualitativa Nominal |
| | SITUACAO | Qualitativa Nominal |
| | TIPOESC | Qualitativa Nominal |
| | ENDESC | Qualitativa Nominal |
| | NUMESC | Quantitativa Discreta |
| | COMPLEND | Qualitativa Nominal |
| | CEP | Qualitativa Nominal |
| | BAIESC | Qualitativa Nominal |
| | ZONA | Qualitativa Nominal |
| | DS_LONGITUDE | Quantitativa Continua |
| | DS_LATITUDE | Quantitativa Continua |
| | CODVINC | Quantitativa Discreta |

<a id = 'head3_dataframe_info'></a>
<h3>4. Informação dos dataframes/ Dataframe's Information</h3>

<a id = 'head4_dataframe_dimension'></a>
<h4>4.1. Dimensão dos dataframes/ Dataframe's dimension</h4>

In [5]:
## Dimensão do dataframe
print('Dimensão do dataframe "df_school_dependecy":', \
                                                df_school_dependecy.shape)

print('Dimensão do dataframe "df_school_geolocation":', \
                                                df_school_geolocation.shape)

print('Dimensão do dataframe "df_idesp_2019":', \
                                                df_idesp_2019.shape)

Dimensão do dataframe "df_school_dependecy": (5608, 172)
Dimensão do dataframe "df_school_geolocation": (5736, 17)
Dimensão do dataframe "df_idesp_2019": (5047, 10)

In [6]:
## Schema do dataframe
df_school_geolocation.dtypes

NOMEDEP          object
DE               object
MUN              object
DISTR            object
COD_ESC           int64
NOMESC           object
SITUACAO         object
TIPOESC          object
ENDESC           object
NUMESC           object
COMPLEND         object
CEP               int64
BAIESC           object
ZONA             object
DS_LONGITUDE    float64
DS_LATITUDE     float64
CODVINC         float64
dtype: object

In [7]:
## Schema do dataframe
df_idesp_2019.dtypes

ANO_LETIVO           int64
CODIGO_CIE           int64
CODIGO_INEP          int64
CodigoDiretoria      int64
NomeDiretoria       object
NomeEscola          object
NomeMunicipio       object
ANOS_INICIAIS      float64
ANOS_FINAIS        float64
ENSINO_MÉDIO       float64
dtype: object

In [8]:
## Schema do dataframe
df_school_dependecy.dtypes

NOMEDEP              object
DE                   object
MUN                  object
DISTR                object
CODESC                int64
                      ...
SALA_REORG_NEURO      int64
SALA_TERAPIA_OCUP     int64
SALA_SERIGRAFIA       int64
SALA_MARCENARIA       int64
QUIOSQUE              int64
Length: 172, dtype: object

<a id = 'head4_var_classification'></a>
<h4>4.2. Classificação das variáveis/ Variables classification</h4>

| Object | Field| Variable Classification |
| :- | :- | :- |
| <b>df_school_geolocation</b> | NOMEDEP | Qualitativa Nominal |
| | DE | Qualitativa Nominal |
| | MUN | Qualitativa Nominal |
| | DISTR | Qualitativa Nominal |
| | COD_ESC | Qualitativa Nominal |
| | NOMESC | Qualitativa Nominal |
| | SITUACAO | Qualitativa Nominal |
| | TIPOESC | Qualitativa Nominal |
| | ENDESC | Qualitativa Nominal |
| | NUMESC | Quantitativa Discreta |
| | COMPLEND | Qualitativa Nominal |
| | CEP | Qualitativa Nominal |
| | BAIESC | Qualitativa Nominal |
| | ZONA | Qualitativa Nominal |
| | DS_LONGITUDE | Quantitativa Continua |
| | DS_LATITUDE | Quantitativa Continua |
| | CODVINC | Quantitativa Discreta |

<a id = 'head3_null_values'></a>
<h3>5. Verificar valores nulos/ Identify nullable values</h3>

<a id = 'head4_null_values_geolocation'></a>
<h4>5.1. Identificar e tratar valores nulos 'df_school_geolocation'</h4>

In [9]:
## Quantidade de valores nulos por coluna
df_school_geolocation.isnull().sum()

NOMEDEP            0
DE                 0
MUN                0
DISTR              0
COD_ESC            0
NOMESC             0
SITUACAO           0
TIPOESC            0
ENDESC             5
NUMESC             1
COMPLEND         382
CEP                0
BAIESC             8
ZONA               1
DS_LONGITUDE       5
DS_LATITUDE        5
CODVINC         5137
dtype: int64

In [10]:
## Porcentagem de valores nulos por coluna
df_school_geolocation.isnull().sum() / len(df_school_geolocation) * 100

NOMEDEP          0.000000
DE               0.000000
MUN              0.000000
DISTR            0.000000
COD_ESC          0.000000
NOMESC           0.000000
SITUACAO         0.000000
TIPOESC          0.000000
ENDESC           0.087169
NUMESC           0.017434
COMPLEND         6.659693
CEP              0.000000
BAIESC           0.139470
ZONA             0.017434
DS_LONGITUDE     0.087169
DS_LATITUDE      0.087169
CODVINC         89.557183
dtype: float64

<p>As colunas <b>'ENDESC', 'COMPLEND', 'BAIESC', 'ZONA'</b> correspondem dados que algumas escolas ou mesmo residencias não possuem, ou não foi informado no cadastro, para todas essas colunas que possuem valores nulos, atribuíremos a frase <b>'NAO INFORMADO'</b></p>
<p>A coluna <b>'NUMESC'</b> se refere ao numero da escola, como apenas 1 escola dentre as milhares existentes não possui numero, então atribuiremos o valor ja existente <b>'S/N'</b>.</p>

In [11]:
## Lista com as colunas
lst_columns = ['ENDESC', 'COMPLEND', 'BAIESC', 'ZONA']

## Aplicar o valor NAO INFORMADO para as linhas com valores nulos
df_school_geolocation.fillna({'ENDESC': 'NAO INFORMADO',
                              'COMPLEND': 'NAO INFORMADO',
                              'BAIESC': 'NAO INFORMADO',
                              'ZONA': 'NAO INFORMADO',
                              'NUMESC': 'SN'}, inplace = True)

In [12]:
## Quantidade de valores nulos por coluna
df_school_geolocation.head(5)

,NOMEDEP,DE,MUN,DISTR,COD_ESC,NOMESC,SITUACAO,TIPOESC,ENDESC,NUMESC,COMPLEND,CEP,BAIESC,ZONA,DS_LONGITUDE,DS_LATITUDE,CODVINC
0,ESTADUAL - SE,NORTE 1,SAO PAULO,JAGUARA,12,AYRES DE MOURA PROFESSOR,Ativa,EE,RUA ARTUR ORLANDO,907,RUA,5118000,VILA JAGUARA,URBANA,-46.749100,-23.512199,NaN
1,ESTADUAL - SE,NORTE 1,SAO PAULO,PERUS,24,GAVIAO PEIXOTO BRIGADEIRO,Ativa,EE,MOGEIRO,710,RUA,5208230,VILA PERUS,URBANA,-46.759399,-23.404699,NaN
2,ESTADUAL - SE,NORTE 1,SAO PAULO,FREGUESIA DO O,36,JOAO SOLIMEO,Ativa,EE,DO SABAO,1497,ESTRADA,2806000,JARDIM MARISTELA,URBANA,-46.700821,-23.481279,NaN
3,ESTADUAL - SE,NORTE 1,SAO PAULO,BRASILANDIA,48,WALFREDO ARANTES CALDAS PROFESSOR,Ativa,EE,DEPUTADO CANTIDIO SAMPAIO,1701,NAO INFORMADO,2860001,VILA SOUZA,URBANA,-46.679531,-23.464180,NaN
4,ESTADUAL - SE,NORTE 1,SAO PAULO,ANHANGUERA,59,SEBASTIAO DE OLIVEIRA GUSMAO PROFESSOR,Ativa,EE,RUA FRANCISCO GIRON,SN,ESTRADA,5267000,MORRO DOCE,URBANA,-46.792249,-23.437950,NaN

<p>A coluna <b>'CODVINC'/ Codigo MEC</b> corresponde a escola vinculadora, que esta associado a escolas muito pequenas, com no máximo 3 salas de aula, por esse motivo essa escola fica vinculada a uma escola maior, logo podemos dizer que aproximadamente 11% das escolas são muito pequenas. Diante disso aplicaremos o valor ZERO as escolas sem vinculadora, e criaremos uma coluna extra indicando que a escola possui vinculadora.</p>
<p>Link Referencia: http://www.dominiopublico.gov.br/download/texto/me002123.pdf</p>

In [13]:
## Criar coluna indicando se a escola possui vinculadora
df_school_geolocation['POSSUI_VINCULADORA'] = np.where(df_school_geolocation['CODVINC'].isnull(), 0, 1)

## Substituir os valores nulos por zero
df_school_geolocation['CODVINC'].fillna(0, inplace = True)

<p>As proximas colunas com valores nulos correspondem as coordenadas geográficas, possivelmente tais coordenadas não foram incluidas no cadastro. Iremos verificar quais são essas escolas</p>

In [14]:
df_school_geolocation[df_school_geolocation['DS_LONGITUDE'].isnull()]

,NOMEDEP,DE,MUN,DISTR,COD_ESC,NOMESC,SITUACAO,TIPOESC,ENDESC,NUMESC,COMPLEND,CEP,BAIESC,ZONA,DS_LONGITUDE,DS_LATITUDE,CODVINC,POSSUI_VINCULADORA
4079,ESTADUAL - SE,CAMPINAS LESTE,CAMPINAS,CAMPINAS LESTE,478830,CENTRO ATEND SOCIOED AO ADOLESC CAMPINAS UN II CI,Ativa,FEBEM - UI (CASA À PARTIR DE 2007),ALADINO SELMI COMENDADOR,SN,AVENIDA,13069096,VILA SAN MARTIN,URBANA,NaN,NaN,65626.0,1
4138,ESTADUAL - SE,CAMPINAS LESTE,CAMPINAS,CAMPINAS LESTE,498671,CENTRO DE ATEND SOCIOEDUC AO ADOLESCENTE ANDOR...,Ativa,FEBEM - UIP (CASA À PARTIR DE 2007),ALADINO SELMI COMENDADOR,SN,AVENIDA,13069096,VILA SAN MARTIN,URBANA,NaN,NaN,65626.0,1
4226,ESTADUAL - SE,CAMPINAS LESTE,CAMPINAS,CAMPINAS LESTE,563948,CENTRO DE ATEND SOCIOEDUC AO ADOLESCENTE ANDOR...,Ativa,FEBEM - UI (CASA À PARTIR DE 2007),ALADINO SELMI COMENDADOR,1,AVENIDA,13069096,VILA SAN MARTIN,URBANA,NaN,NaN,65626.0,1
4271,ESTADUAL - SE,CENTRO OESTE,SAO PAULO,VILA SONIA,577212,HOSPITAL ALBERT EINSTEIN CL HOSPITALAR,Ativa,CLASSE HOSPITALAR,LOURENCO DE AZEVEDO,149,RUA,5624060,VILA MORSE,URBANA,NaN,NaN,4259.0,1
4296,ESTADUAL - SE,BARRETOS,BARRETOS,BARRETOS,584459,CLASSE HOSPITALAR FUNDACAO PIO XII HOSPITAL DO...,Ativa,CLASSE HOSPITALAR,ANTENOR DUARTE VILELA,1331,RUA,14784400,DOUTOR PAULO PRATA,URBANA,NaN,NaN,22214.0,1

<p>As escolas sem coordenadas geográficas possuem escola vinculadora, logo aplicaremos as coordenadas de suas escolas vinculadoras.</p>

In [15]:
## Latitude e longitude das escolas vinculadas
df_vinculated_school = df_school_geolocation[df_school_geolocation['COD_ESC'].isin([4259, 22214, 65626])] \
                                                    .loc[:, ['COD_ESC', 'DS_LONGITUDE', 'DS_LATITUDE']]
## Realizando o Join com o dataframe novo
df_school_geolocation = df_school_geolocation.merge(df_vinculated_school, 
                                                    left_on = 'CODVINC', 
                                                    right_on = 'COD_ESC', 
                                                    suffixes=('_left', '_right'),
                                                    how = 'left')
## Atualizar os dados
df_school_geolocation['DS_LONGITUDE_left'] = np.where(df_school_geolocation['DS_LONGITUDE_left'].isnull(),
                                                      df_school_geolocation['DS_LONGITUDE_right'],
                                                      df_school_geolocation['DS_LONGITUDE_left'])

df_school_geolocation['DS_LATITUDE_left'] = np.where(df_school_geolocation['DS_LATITUDE_left'].isnull(),
                                                      df_school_geolocation['DS_LATITUDE_right'],
                                                      df_school_geolocation['DS_LATITUDE_left'])
## Renomear colunas
df_school_geolocation.rename(columns = {"COD_ESC_left" : "COD_ESC",
                                        "DS_LONGITUDE_left" : "DS_LONGITUDE",
                                        "DS_LATITUDE_left" : "DS_LATITUDE"},
                             inplace = True)

## Dropar/ Deletar colunas desnecessarias
df_school_geolocation.drop(columns = ['COD_ESC_right', 'DS_LONGITUDE_right', 'DS_LATITUDE_right'],
                           inplace = True)

## Deletar datarframe que não sera mais utilizado
del df_vinculated_school

In [16]:
## Verificar se ainda existem valores nulos
df_school_geolocation.isnull().sum()

NOMEDEP               0
DE                    0
MUN                   0
DISTR                 0
COD_ESC               0
NOMESC                0
SITUACAO              0
TIPOESC               0
ENDESC                0
NUMESC                0
COMPLEND              0
CEP                   0
BAIESC                0
ZONA                  0
DS_LONGITUDE          0
DS_LATITUDE           0
CODVINC               0
POSSUI_VINCULADORA    0
dtype: int64

<a id = 'head4_null_values_idesp_2019'></a>
<h4>5.2. Identificar e tratar valores nulos 'df_idesp_2019'</h4>

In [17]:
## Quantidade de valores nulos
df_idesp_2019.isnull().sum()

ANO_LETIVO         0
CODIGO_CIE         0
CODIGO_INEP        0
CodigoDiretoria    0
NomeDiretoria      0
NomeEscola         0
NomeMunicipio      0
ANOS_INICIAIS      0
ANOS_FINAIS        0
ENSINO_MÉDIO       0
dtype: int64

In [18]:
## Verificar a porncentagem de valores nulos
df_idesp_2019.isnull().sum() / len(df_idesp_2019) * 100

ANO_LETIVO         0.0
CODIGO_CIE         0.0
CODIGO_INEP        0.0
CodigoDiretoria    0.0
NomeDiretoria      0.0
NomeEscola         0.0
NomeMunicipio      0.0
ANOS_INICIAIS      0.0
ANOS_FINAIS        0.0
ENSINO_MÉDIO       0.0
dtype: float64

<a id = 'head4_null_values_dependency'></a>
<h4>5.2. Identificar e tratar valores nulos 'df_school_dependecy'</h4>
<p>Como o dataframe possui mais de 150 colunas, iremos verificar se existe alguma coluna com valor nulo.</p>

In [19]:
## Verificar se há alguma coluna com valor nulo
df_school_dependecy.isnull().any().any()

False